p {
  font-size: 20px;
  margin: 25px 0 10px 10px;
}

form > p:first-child { margin-top: 0; }

input[type="text"] {
  background-color: rgb(0, 5, 54);
  border: 2px solid rgb(53, 201, 166);
  border-radius: 22px;
  width: 100%;
  max-width: 400px;
  height: 44px;
  line-height: 44px;
  padding: 0 15px;
}

/* ----------   STEPS   ---------- */

.wrap_steps {
  width: 100%;
  max-width: 400px;
  height: 98px;
  position: relative;
  transition: height 0.3s;
}

.step {
  margin-bottom: 10px;
  position: relative;
  height: 44px;
  transition: all 0.3s;
}

input[name="step[]"] {
  padding-right: 60px;
  height: 100%;
}

.remove_step {
  width: 50px;
  height: 100%;
  line-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  background-color: rgb(218, 0, 0);
  text-align: center;
  font-size: 26px;
}

.remove_step:active { background-color: rgb(163, 3, 3); }

.add_step {
  width: 100%;
  height: 44px;
  line-height: 44px;
  border: 0;
  border-radius: 22px;
  background-color: rgb(0, 142, 44);
  font-size: 26px;
  position: absolute;
  bottom: 0;
}

.add_step:active { background-color: rgb(3, 112, 37); }

/* ----------   GROUP   ---------- */

.groups {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 44px;
  line-height: 40px;
  overflow: hidden;
  background-color: rgb(0, 5, 54);
  border: 2px solid rgb(53, 201, 166);
  border-radius: 22px;
  transition: height 0.3s;
  padding-top: 40px;
}

.group {
  width: 100%;
  height: 41px;
  border-top: 1px dotted rgb(180, 180, 180);
  padding: 0 15px;
  position: relative;
  transition: padding 0.15s;
}

.groups > label:first-child .group { border-top: 1px solid rgb(53, 201, 166); }

input[name="group"] { display: none; }

input[name="group"]:checked + .group {
  padding-left: 24px;
}

input[name="group"]:checked + .group::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(0, 172, 53);
  position: absolute;
  top: calc(50% - 4px);
  left: 9px;
}

.change_group_btn {
  width: 100%;
  height: 40px;
  color: #a9a9a9;
  padding-left: 15px;
  padding-right: 60px;
  position: absolute;
  top: 0;
  transition: opacity 0.3s;
  z-index: 3;
}

.arrow_btn__groups {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(0, 5, 54);
  width: 50px;
  height: 40px;
  z-index: 2;
}

.arrow_btn__groups > div {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 5px 0;
  border-color: transparent;
  border-top-color: rgb(53, 201, 166);
  position: absolute;
  top: 18px;
  right: 20px;
  transition: transform 0.3s;
  z-index: 0;
}

.arrow_btn__groups > div > div {
  width: 16px;
  height: 20px;
  border-top: 3px solid rgb(53, 201, 166);
  border-radius: 50%;
  position: absolute;
  top: -16px;
  left: 0;
  transform: rotate(-45deg);
  opacity: 0;
  transition: opacity 0.3s;
}

.add_group {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: 0;
  background-color: rgb(0, 142, 44);
  font-size: 20px;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1;
}

.add_group:active { background-color: rgb(3, 112, 37); }
