p {
  font-size: 20px;
  margin: 25px 0 10px 10px;
}

.form_create_purpose > p:first-child { margin-top: 0; }

.form_create_purpose {
  width: 100%;
  max-width: 400px;
}

input[type="text"] {
  /* background-color: rgb(107, 105, 105);
  border: 2px solid rgb(48, 47, 47); */
  background-color: rgb(0, 5, 54);
  border: 2px solid rgb(53, 201, 166);
  border-radius: 22px;
  width: 100%;
  height: 44px;
  line-height: 44px;
  padding: 0 15px;
}

/* ----------   STEPS   ---------- */

.block_steps {
  height: 98px;
  position: relative;
  transition: height 0.3s;
}

.block_step {
  margin-bottom: 10px;
  position: relative;
  height: 44px;
  transition: height 0.3s, opacity 0.3s, border 0.3s, margin 0.3s;
}

input[name="step[]"] {
  padding-right: 60px;
  height: 100%;
}

.btn_remove_step {
  width: 50px;
  height: 100%;
  line-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  background-color: rgb(218, 0, 0);
  font-size: 22px;
}

.btn_remove_step:active { background-color: rgb(163, 3, 3); }

.btn_create_step {
  width: 100%;
  height: 44px;
  line-height: 44px;
  border: 0;
  border-radius: 22px;
  background-color: rgb(0, 142, 44);
  font-size: 22px;
  position: absolute;
  bottom: 0;
}

.btn_create_step:active { background-color: rgb(3, 112, 37); }

/* ----------   PERIOD   ---------- */



/* ----------   GROUP   ---------- */

.list_groups {
  position: relative;
  height: 44px;
  line-height: 40px;
  overflow: hidden;
  background-color: rgb(0, 5, 54);
  border: 2px solid rgb(53, 201, 166);
  border-radius: 22px;
  transition: height 0.3s;
  padding-top: 40px;
}

.item__list_groups {
  height: 41px;
  border-top: 1px dotted rgb(180, 180, 180);
  padding: 0 15px;
  position: relative;
  overflow: hidden;
  transition: border 0.3s, height 0.3s, padding 0.15s;
}

.anim_adding_new_group {
  animation: anim_adding_group 0.3s forwards;
}

@keyframes anim_adding_group {
  from {
    height: 0;
  }
  to {
    height: 41px;
  }
}

.list_groups > label:first-child .item__list_groups { border-top: 1px solid rgb(53, 201, 166); }

.list_groups > label input { display: none; }

.list_groups > label input:checked + .item__list_groups { padding-left: 24px; }

.list_groups > label input:checked + .item__list_groups::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(0, 172, 53);
  position: absolute;
  top: calc(50% - 4px);
  left: 9px;
}

.btn_choose_group {
  width: 100%;
  height: 40px;
  color: #a9a9a9;
  padding-left: 15px;
  padding-right: 60px;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1;
}

.btn_choose_group-visible {
  z-index: 4;
  opacity: 1;
}

.btn_arrow__list_groups {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(0, 5, 54);
  width: 50px;
  height: 40px;
  z-index: 3;
}

.btn_arrow__list_groups > div {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 5px 0;
  border-color: transparent;
  border-top-color: rgb(53, 201, 166);
  position: absolute;
  top: 18px;
  right: 20px;
  transition: transform 0.3s;
}

.btn_arrow__list_groups > div > div {
  width: 16px;
  height: 20px;
  border-top: 3px solid rgb(53, 201, 166);
  border-radius: 50%;
  position: absolute;
  top: -16px;
  left: 0;
  transform: rotate(-45deg);
  opacity: 0;
  transition: opacity 0.3s;
}

.btn_arrow__list_groups-visible > div {
  transform: rotate(-270deg) translate3d(-4px, 5px, 0);
}

.btn_arrow__list_groups-visible > div > div { opacity: 1; }

.btn_create_group {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: 0;
  background-color: rgb(0, 142, 44);
  font-size: 20px;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 2;
}

.btn_create_group:active { background-color: rgb(3, 112, 37); }

.btn_create_group-visible {
  opacity: 1;
}

.block_create_new_group {
  width: 0;
  height: 40px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.3s, border 0.3s;
  z-index: 5;
}

.block_create_new_group-visible {
  width: calc(100% - 50px);
  border-right: 1px solid rgb(53, 201, 166);
}

.block_create_new_group-visible > input {
  padding-left: 15px !important;
}

.list_groups .new_group_name {
  border: 0;
  border-radius: 0;
  transition: padding 0.3s;
  width: 100%;
  height: 40px;
  padding: 0 45px 0 0;
}

.btn_confirm__block_create_new_group {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  background: url('/static/images/confirm_image.png') no-repeat;
  background-position: center center;
  background-size: 50%;
}

.btn_create_purpose {
  display: block;
  width: 100%;
  max-width: 200px;
  height: 44px;
  border: 2px solid rgb(53, 201, 166);
  border-radius: 22px;
  margin: 30px auto 0;
  background-color: rgba(150, 0, 86, 0.19);
}

.btn_create_purpose:active {
  background-color: rgba(150, 0, 45, 0.36);
}
