* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Acme', sans-serif;
  font-size: 16px;
  color: #fff;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

a { text-decoration: none; }

.wrapper {
  min-height: 100%;
  background-color: rgb(0, 5, 54);
  padding: 20px 15px;
  cursor: default;
}

::placeholder {
  color: #a9a9a9;
  opacity: 1;
}
