* {
  margin: 0;
  padding: 0;
  outline: none;
  /* font-family: "Acme", "Philosopher", sans-serif; */
  font-family: "Kurale";
  /* font-family: "Alegreya"; */
  /* font-family: "Philosopher"; */
  /* font-family: "El Messiri"; */
  font-size: 16px;
  color: #fff;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

/* body {
  background: url('/static/images/10.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
} */

.back_img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/static/images/2.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  z-index: -1;
}

a { text-decoration: none; }

.wrapper {
  min-height: 100%;
  background-color: rgba(0, 5, 54, 0.5);
  padding: 20px 15px;
  cursor: default;
}

::placeholder {
  color: #a9a9a9;
  opacity: 1;
}
